<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post" action="/adminLogin">
        <label for="email">
            E-mail:
        </label>
        <input type="email" id="email" name="email" required />

        <label for="password">
            Parola:
        </label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
    </form>
</body>
</html>